<section>
    <div class="container">
        <div class="row">
            <h1> Proyectos realizados/participando</h1>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Pokemon Wilds</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque sint eum inventore blanditiis odit nam soluta eos. In totam voluptate, quas minus facilis, quasi ipsum minima autem dicta magnam id?
            </p>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte2">
            <img src="../../../assets/img/poke-wilds.png" alt="Pokemon Wilds" class="img-fluid img-pokemon">
        </div>
    </div>
</section>
