<section>
    <div class="container">
        <div class="row">
            <h1> Proyectos realizados/participando</h1>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>PokeWilds</h3>
            <p>PokeWilds es un juego/motor de la Generación 2 construido con libGDX. Utiliza generación procedural para crear mundos extensos con diferentes biomas y monstruos únicos. Tus monstruos te ayudan a explorar mediante habilidades y nuevos HM que permiten interactuar con el mundo de formas innovadoras. El juego se asemeja a los juegos de consola con una extracción precisa de sprites y animaciones. libGDX ofrece juego multiplataforma, modo multijugador, mapas extensos y pantalla completa
            </p>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte2">
            <img src="../../../assets/img/poke-wilds.png" alt="Pokemon Wilds" class="img-fluid img-pokemon">
        </div>
    </div>
</section>
