<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/img/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/i%C3%B1aki-vladimir-moix-12467122a/"><img src="../../../assets/img/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/IVMoix"><img src="../../../assets/img/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/inakimoix/"><img src="../../../assets/img/instagram.png" id="instagram"></a>
            <a href="https://github.com/IVMoix"><img src="../../../assets/img/github.png" id="github"></a>
            <a href="https://www.facebook.com/inakivladimir.moix/"><img src="../../../assets/img/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>

