<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/img/dummy.jpg" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Iñaki Vladimir Moix</p>
            <p>Full-Stack Web Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, ut quaerat cumque unde inventore quibusdam veritatis odio debitis repellat non in officia iure distinctio quam velit consequatur. Aliquid, fugit perferendis.</p>
            </span>
        </div>
    </div>

</div>
